.header.blog{
    background-color: var(--accent);
    margin: 0;
    padding: 10px 0
}
.header.blog > .email-icon{
    background: var(--primary);
    aspect-ratio: 1/1;
    height: 6em;
    margin: auto;
    border: 8px outset white;
    display: flex;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header.blog > .email-icon > svg{
    font-size: 60px;
    color: white;
    margin: auto;
}
.entries-container{
    background: white;
    height: 100%;
    padding: 20px 20px;
}
.main-blog-container > .blog-body-container{
    background: #ddd;
    padding: 30px 10px;
    border-radius: 10px;
    font-size: 14px;
    margin: 0 20px;
}
.main-blog-container > .blog-body-container > .timestamp{
    background: var(--accent);
    padding: 10px 10px;
    color: white;
    margin: 15px 0px -15px auto;
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}
.post-entry-container,
.edit-entry-container{
    height: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 10px;
    color: white;
}
.post-entry-container > form,
.edit-entry-container > form{
    height: 100%;
    padding: 20px 20px;
    display: grid;
}
.post-entry-container > form > input, textarea,
.edit-entry-container > form >  input, textarea, select{
    background: white;
    padding: 8px 8px;
    color: black;
    display: flex;
    margin: 20px -2px;
    border: none;
    border-radius:4px;
    font-size: 15px;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post-entry-container > form > input,
.edit-entry-container > form > input, select {
    width: 200px;
}
.post-entry-container > form > textarea,
.edit-entry-container > form > textarea  {
    width: 90%;
    height: 150px;
}
.post-entry-container > form > input[type="submit"],
.edit-entry-container > form > input[type="submit"]{
    background: var(--accent);
    padding: 8px 20px;
    margin: 25px auto;
    display: flex;
    border: 3px outset var(--accent);
    font-weight: bold;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }
  .edit-find-object-selector-container{
    display:flex;
  }
  .edit-find-object-selector-container > input[type="submit"]{
    background: var(--accent);
    padding: 0 10px;
    margin: auto 0 auto 20px;
    border: 3px outset var(--accent);
    font-weight: bold;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    height: 30px;
  }
