.main-page-container {
    height: 100%;
    width: 100%;
    display: inline-table;
    background-color: var(--primary);
  }
.header.home{
    background-color: var(--accent);
    margin: 0;
    padding: 15vh 0;
    text-align: center;
}
.header.home > h2{
    color: white;
    font-size: 4vw;
    margin: 0;
}
.header.home > h1{
    color: orange;
    font-size: 9vw;
    margin: 0;
}
.intro-card{
    display: flex;
}
.intro-card:nth-child(n){
    background-color: white;
    flex-direction: row;
}
.intro-card:nth-child(2n){
    background-color: var(--secondary);
    color: white;
    flex-direction: row-reverse;
    text-align: right;
}
.intro-card > div > h3{
    font-size: 5vw;
    margin: auto;
}
.intro-card > div > img{
    width: 100%;
    height: auto;
    padding: 20px 20px;
    object-fit: contain;
    max-width: 1000px;
}
.intro-card > div > p{
    font-size: 2vw;
}