
.container-page.project{
    height: 100%;
    width: 100%;
    display: inline-table;
    background-color: var(--primary);
}
.project-me.card{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: -moz-fit-content;
    height: fit-content;
    display: flow-root;
}
.project-me.card > .card-header{
    background-color: var(--accent);
    color: white;
    padding: 20px 40px;
    text-align: center;
    height: 115px;
    border-radius: 0;
}
.project-me.card > .card-header > .email-icon{
    background: var(--primary);
    aspect-ratio: 1/1;
    height: 6em;
    margin: auto;
    border: 8px outset white;
    display: flex;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-me.card > .card-header > .email-icon > svg{
    font-size: 60px;
    color: white;
    margin: auto;
}
.main-container.project{
    text-align: center;
    color: black;
    line-height: 20px;
}
.collapse-container-header{
    background-color: var(--primary);
    color: white;
    text-align: left;
    display: flex;
    padding: 5px 0;
}
.collapse-container-header > .collapse-icon {
    font-size: 22px;
    margin: auto 20px auto 0;
    width: 20px;
    padding: 0 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}
.collapse-container-body{
    border:3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.runescape-summary-data-container{
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.runescape-summary-item{
    margin: 10px 10px;
    background-color: var(--accent);
    display: flex;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.runescape-summary-item > span:nth-child(2n+1){
    margin: auto auto auto 0;
    background: white;
    padding: 4px 15px;
    border-radius: 10px;
}
.runescape-summary-item > span:nth-child(2n){
    margin: auto 0 auto auto;
    font-weight:bold;
}

.runescape-activities-data-container{
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.runescape-activities-item{
    margin: 10px 10px;
    background-color: var(--accent);
    display: block;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.runescape-activities-item > span{
    margin: auto auto auto 0;
    padding: 4px 14px;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
}
.runescape-activities-item > div {
    margin: auto auto auto 0;
    color: black;
    border-radius: 10px;
    font-size: 12px;
    font-weight: lighter;
    text-align: left;
    width: 100%;
    font-size: 15px;
}
.runescape-activities-item > div >  div:nth-child(2n+1) {
    font-weight: bold;
    text-align: center;
    background: white;
  border-radius: 10px;
  padding: 10px 20px;
}
.runescape-activities-item > div >  div:nth-child(2n) {
    text-align: center;
    background: #ffffff78;
  border-radius: 10px;
  margin: 8px 0;
  padding: 20px 20px;
}

.runescape-skills-data-container{
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.runescape-skills-item{
    margin: 10px 10px;
  background-color: var(--accent);
  display: block;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.runescape-skills-item-header{
    background: white;
  border-radius: 10px;
  margin: 0 0 10px 0;
  padding: 10px 0;
  display: grid;
  font-weight: bold;
}
.runescape-skills-item-body{
    background: #ffffff78;
    border-radius: 10px;
    margin: 0 0 10px 0;
    padding: 10px 0;
}
.runescape-skills-item-body > div{
    margin: 10px 0;
    display: flex;
    padding: 0 30px;
}
.runescape-skills-item-body > div > span:nth-child(2n + 1){
    margin: auto auto auto 0;
}
.runescape-skills-item-body > div > span:nth-child(2n){
    margin: auto 0 auto auto;
}
.runescape_api_collapse_container{
    background:pink;
    margin: 10px auto 0 auto;
    width: 90%;
}



@media only screen and (max-width: 450px) {
    .runescape-activities-data-container{
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
    .runescape-activities-item{
        display: block;
    }
    .runescape-activities-item > span{
        width: 100%;
        padding: 4px 0;
    }
    .runescape-activities-item > div{
        padding:0;
        text-align: center;
        margin: 15px 0;
        font-size:15px;
    }
    .runescape-summary-data-container{
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
    .runescape-activities-item > div {
        width:100%;
    }
  }