
.container-page.project{
    height: 100%;
    width: 100%;
    display: inline-table;
    background-color: var(--primary);
}
.project-me.card{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: -moz-fit-content;
    height: fit-content;
    display: flow-root;
}
.project-me.card > .card-header{
    background-color: var(--accent);
    color: white;
    padding: 20px 40px;
    text-align: center;
    height: 115px;
    border-radius: 0;
}
.project-me.card > .card-header > .email-icon{
    background: var(--primary);
    aspect-ratio: 1/1;
    height: 6em;
    margin: auto;
    border: 8px outset white;
    display: flex;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-me.card > .card-header > .email-icon > svg{
    font-size: 60px;
    color: white;
    margin: auto;
}
.main-container.project{
    text-align: center;
    color: black;
    line-height: 20px;
}
.collapse-container-header{
    background-color: var(--primary);
    color: white;
    text-align: left;
    display: flex;
    padding: 5px 0;
}
.collapse-container-header > .collapse-icon {
    font-size: 22px;
    margin: auto 20px auto 0;
    width: 20px;
    padding: 0 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}
.collapse-container-body{
    border:3px solid black;
    background-color: white;
}