@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


.saira-pesten {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Default Styling */
body {
  margin: 0;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
code {
  font-family: "Saira", sans-serif;
}

/* Root Style Guide */
:root{
  /*
  --primary:green;
  --secondary: lightgreen;
  */
  --primary: #262626;
  --secondary: #2f2f2f;
  --accent: #df592f;
  --font-family: "Saira", sans-serif;
  --blue:blue;
  --red:red;
  --green: green;
  --orange: orange;
  --yellow: yellow;
  --brown: brown;
}

/* Set the height of the HTML, BODY & ROOT to 100% */
/* This means elements (header) can be controled by % */
html, body, #root{
  height:100%;
  font-family: "Saira", sans-serif;
}